html,
body,
#root,
.login-container {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.login-container {
  max-width: 350px;
  align-items: flex-end;
  display: flex;
}

.background-image {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url(../assets/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 40%;
}

.uploaded-image {
  width: auto;
  max-width: 100%;
  max-height: calc(100vh - 80px);
}

.upload-button {
  padding: 0 !important;
  background: transparent !important;
  color: var(--pm-completed) !important;
  border: none !important;
  margin-right: 4px !important;
}

.form-active:focus-within {
  border-color: #000;
}

.navbar {
  background: var(--bs-body-bg);
}

.bg-thirdondary {
  --bg-thirdondary: #eee;
  background: var(--bg-thirdondary);
}

.dark {
  --bs-primary: #0142a3;
  --bs-body-bg: #131313;
  --bs-body-color: #f9f9f9;
  --bs-border-color: #3f3f3f77;

  .bg-thirdondary {
    --bg-thirdondary: #242424;
    }

  .btn-primary {
    --bs-btn-bg: #0142a3;
    --bs-btn-border-color: #0142a3;
    --bs-btn-hover-bg: #0854c7;
    --bs-btn-disabled-bg: #061a38;
    --bs-btn-disabled-border-color: #061a38;
  }

  .btn-close {
    filter: invert(1) grayscale(100%) brightness(100%);
    opacity: 0.75;
  }

  .form-check-input:checked {
    background-color: #0142a3;
  }

  .dropdown-menu {
    --bs-dropdown-bg: #202020;
    --bs-dropdown-link-color: #dbdedf;
  }

  .modal-content {
    --bs-modal-bg: #131313;
  }

  .card {
    --bs-card-bg: #191919;
    --bs-card-border-color: #242424;
  }

  .form-control {
    border-color: #242424;
  }

  .form-active:focus-within {
    border-color: #fff;
  }

  .form-check-input {
    background-color: #242424;
  }

  .form-control,
  .form-control:active,
  .form-control:focus,
  .progress {
    background: #242424;
    color: #fff;
  }

  .form-select {
    color: #fff;
    background-color: #131313;
    border: 1px solid #242424;
  }

  .text-muted {
    color: #9d9d9d !important;
  }

  .placeholder {
    opacity: 0.15;
  }
}

.border-transparent {
  border-color: transparent !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
select {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.dark .aside-nav {
  background: #191919 !important;
}

.aside-nav {
  background: #eee !important;

  @media screen and (min-width: 992px) {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    max-width: 350px;
  }

  @media screen and (max-width: 991px) {
    flex-direction: row !important;
    padding: 12px !important;
    height: auto !important;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

    .navbar-divider {
      display: none;
    }
  }
}

.cflex-fill {
  flex: 1 1 auto !important;

  @media screen and (max-width: 991px) {
    flex: 0 !important;
  }
}

.fs-7 {
  font-size: 12px;
}

.pe-force {
  cursor: pointer;
}

.nested-modal {
  z-index: 6970;
}

.nested-modal-backdrop {
  position: fixed;
  z-index: 6969;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.default-cursor {
  cursor: default !important;
}

.bottom-buttons {
  background: var(--bs-body-bg);
}

.safe-area {
  /* CSS specific to iOS devices */
  @supports (-webkit-touch-callout: none) {
    padding-bottom: calc(env(safe-area-inset-bottom)) !important;
  }
}

.usel-none {
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ */
}

.divider {
  border-bottom: 1px solid var(--bs-border-color);
  margin-block: 1rem;
}

.bg-input-field {
  --bs-bg-input-field: #eee;
  background: var(--bs-bg-input-field) !important;
}

.dark .bg-input-field {
  --bs-bg-input-field: #242424;
  background: var(--bs-bg-input-field) !important;
}

.chore-comment-container {
  overflow: hidden;
  user-select: none;

  .avatar {
      width: 50px;
      height: 50px;

    div {
        width: inherit;
        height: inherit;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: var(--avatar-image);
      }
    }
}

.comment-delete-container {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  transition: opacity 0.2s ease-in-out;
}

.comment-delete {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.fixed {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bs-body-bg);
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

// ::-webkit-scrollbar-thumb {
//   background: #E0E0E0;
// }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .dark::-webkit-scrollbar-track {
    background-color: #191919;
  }

  .dark::-webkit-scrollbar-thumb {
    background-color: #242424;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.dark ::-webkit-scrollbar-track {
  background-color: #191919;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #242424;
}
.w-fit-content {
  width: fit-content;
}

tr {
  vertical-align: middle;
}

.avatar {
  .nav-link.active {
    color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
  }

  .nav-link {
    border-color: var(--bs-body-color) !important;
    color: var(--bs-body-color) !important;
    padding-inline: 14px;
  }
}

.grid-avatar-creator {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)) !important;
  width: 100% !important;
  gap: 0px !important;
}

.table-mobile {
  min-width: 790px;
  }
  
  .border-left-2 {
    border-left: 2px solid transparent;
  }
  
  .text-theme {
    color: var(--bs-body-color);
    border-left: 2px solid transparent;
    opacity: .85;
  
    &:hover {
      opacity: 1;
    }
  }
  
  .dark .text-theme {
    color: var(--bs-body-color);
}