// Bootstrap overrides
.navbar-brand {
  color: inherit;
}
.navbar-toggler {
  border: none;

  svg {
    color: var(--bs-secondary);
  }

  &:focus {
    box-shadow: none;
  }

  &.collapsed {
    svg {
      color: var(--bs-primary);
    }
  }
}

.card {
  --bs-card-bg: #ffffff;
  &:hover {
    cursor: default;
  }

  .card-text {
    margin-bottom: 0.25rem;
  }

  .container {
    padding-right: 0;
    padding-left: 0;
  }
}

.modal {
  --bs-modal-footer-border-width: 0;
  --bs-modal-header-padding: 1rem 0.75rem;
  --bs-modal-padding: 0.75rem;
  --bs-modal-footer-gap: 1rem;

  .modal-content {
    .modal-body {
      padding: 0;
    }

    .modal-body-section {
      border-bottom: 1px solid var(--bs-modal-footer-border-color);
      padding: var(--bs-modal-padding);

      input {
        border: none;
      }

      .camera-container {
        .btn {
          align-items: center;
          display: flex;
          border-radius: 0.375rem;
          padding: 8px;
        }
      }
    }

    .modal-footer {
      justify-content: center;

      .btn {
        width: 100%;
      }
    }
  }
}

.btn-close {
  &:focus {
    box-shadow: none;
  }
}

.form-control {
  background: #f9f9f9;
  &:focus {
    box-shadow: none;
  }
}

#search {
  border: none;
  padding: 0;
}

// Filter modal overrides
.filter {
  .d-flex {
    display: flex !important;
  }

  .modal-title {
    flex: 1;
    text-align: center;
  }

  .btn-close {
    position: absolute;
    left: 0;
    margin: 0.5rem;
  }

  .filter-group {
    border-bottom: 1px solid var(--bs-modal-footer-border-color);
    padding: var(--bs-modal-padding);

    div {
      margin-left: auto !important;
    }
  }

  form .filter-group:last-child {
    padding: 12px 12px 0px 12px;
    border: 0;
  }

  .modal-footer {
    padding-bottom: calc(var(--bs-modal-footer-gap) * 0.5);
  }
}

.form-check-input {
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  width: 1.5em;
  height: 1.5em;

  &:checked {
    border: none;
    color: var(--bs-primary);
  }

  &:focus {
    box-shadow: none;
  }
}

.form-switch .form-check-input {
  width: 2.5em;
}

.form-select:focus {
  border-color: none;
  box-shadow: none;
}

#image-modal {
  .modal-header {
    .modal-title {
      flex: 1;
      text-align: center;
      order: 2;
    }

    .btn-close {
      order: 1;
    }

    svg {
      order: 3;
    }
  }

  .modal-body {
    justify-content: center;
    display: flex;
    align-items: center;
    background: #000;
  }
}

.dropdown-ellipsis-container {
  .dropdown-toggle::after {
    all: unset;
  }

  .dropdown-ellipsis {
    all: unset;

    &:hover {
      all: unset;
      cursor: pointer;
    }
  }

  .btn.show {
    background: transparent !important;
    color: var(--bs-primary);
  }
}

.dark {
  .btn-primary {
    color: var(--bs-body-color) !important;
  }
}
// NavLink overrides
a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;
  }
}

.placeholder-wave .card,
.placeholder {
  cursor: default !important;
}

.btn:disabled {
  --bs-btn-disabled-opacity: 0.25;
}

.btn,
.modal,
.btn:disabled {
  transition: 0.3s ease all;
}

.modal-open {
  overflow: hidden !important;
}
.dark {
  .nav-pills {
    --bs-nav-pills-link-active-color: #fff;
  }
}

.nav-pills {
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #000;
  --bs-nav-pills-link-active-bg: transparent;
}

.nav-pills .nav-link {
  border-radius: 0;
  border-left: 2px solid transparent;

  @media screen and (max-width: 991px) {
    border-left: 0;
    border-bottom: 2px solid transparent;
  }
}

.nav-pills .nav-link:disabled {
  color: var(--bs-nav-link-disabled-color);
  background-color: transparent;
  border-color: transparent;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
  border-color: var(--bs-nav-link-color);
}

.flex-row .nav-link {
  border-left: 0;
  border-bottom: 2px solid transparent;
}

input:not([type="radio"]):not([type="checkbox"]),
.form-select {
  border-radius: 4px !important;
}

select:disabled {
  opacity: 0.3;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

:root {
  --bs-primary: #327ef1;
  --bs-btn-bg: #327ef1;
  --bs-success: #00e435;
  --bs-danger: #ff0000;
}

:root .dark {
  --bs-primary: #0053cf;
  --bs-success: #00811e;
  --bs-danger: #be0000;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00811e;
  --bs-btn-border-color: #00811e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #009921;
  --bs-btn-hover-border-color: #009921;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #009921;
  --bs-btn-active-border-color: #009921;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #00811e;
  --bs-btn-disabled-border-color: #00811e;
}

.bg-success {
  background-color: var(--bs-success) !important;
}

.bg-danger {
  background-color: var(--bs-danger) !important;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.rdp-months {
  justify-content: center !important;
  padding-inline: 1rem;

  .rdp-month {
    flex: 1 !important;
  }
}

.modal-dialog:has(.rdp) {
  margin: 1rem;
}

.rdp-table {
  max-width: unset;
  width: 100%;
}

.rdp-day_selected {
  background-color: var(--bs-primary) !important;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--bs-gray-700) !important;
}
.popover-arrow {
  display: none !important;
}
.accordion-item {
  color: unset !important;
}

.accordion {
  background: unset !important;
  --bs-accordion-bg: #transparent;
  --bs-accordion-active-bg: transparent;
}

.dark .accordion-button {
  color: #8ab9ff;
}

.accordion-button:focus {
  box-shadow: initial;
}

.accordion-button:not(.collapsed) {
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color) !important;
}
