// Bootstrap overrides

.navbar-toggler {
  border: none;

  svg {
    color: var(--bs-secondary);
  }

  &:focus {
    box-shadow: none;
  }

  &.collapsed {
    svg {
      color: var(--bs-primary);
    }
  }
}

.card {
  &:hover {
    cursor: pointer;
  }

  .container {
    padding-right: 0;
    padding-left: 0;
  }
}

.modal {
  --bs-modal-footer-border-width: 0;
  --bs-modal-header-padding: 1rem 0.75rem;
  --bs-modal-padding: 0.75rem;
  --bs-modal-footer-gap: 1rem;

  .modal-content {
    .modal-body {
      padding: 0;
    }

    .modal-body-section {
      border-bottom: 1px solid var(--bs-modal-footer-border-color);
      padding: var(--bs-modal-padding);

      input {
        border: none;
      }

      .camera-container {
        .btn {
          align-items: center;
          display: flex;
          border-radius: 0.375rem;
          padding: 8px;
        }
      }
    }

    .chore-comment-container {
      padding: 10px 0px;
      &:not(:last-child) {
        border-bottom: 1px solid var(--bs-modal-footer-border-color);
      }
      &:last-child {
        padding-bottom: 0px;
      }
    }

    .modal-footer {
      justify-content: center;

      .btn {
        width: 100%;
      }
    }
  }
}

.btn-close {
  &:focus {
    box-shadow: none;
  }
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

#searchCustomer {
  border: none;
  padding: 0.275rem 0.5rem;
}

// Filter modal overrides
.filter {
  .d-flex {
    display: flex !important;
  }

  .modal-title {
    flex: 1;
    text-align: center;
  }

  .btn-close {
    position: absolute;
    left: 0;
    margin: 0.5rem;
  }

  .filter-group {
    border-bottom: 1px solid var(--bs-modal-footer-border-color);
    padding: var(--bs-modal-padding);
    div {
      margin-left: auto !important;
    }
  }

  form .filter-group:last-child {
    padding: 12px 12px 0px 12px;
    border: 0;
  }

  .modal-footer {
    padding-bottom: calc(var(--bs-modal-footer-gap) * 0.5);
  }
}

.form-check-input {
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  width: 1.5em;
  height: 1.5em;
  &:checked {
    border: none;
    color: var(--bs-primary);
  }
  &:focus {
    box-shadow: none;
  }
}

.form-switch .form-check-input {
  width: 2.5em;
}

#image-modal {
  .modal-header {
    .modal-title {
      flex: 1;
      text-align: center;
      order: 2;
    }

    .btn-close {
      order: 1;
    }

    svg {
      order: 3;
    }
  }

  .modal-body {
    justify-content: center;
    display: flex;
    align-items: center;
    background: #000;
  }
}

.card,
.btn,
.modal-content,
form>div,
.progress,
.dropdown-menu {
  border-radius: 2px !important;
}

.dropdown-ellipsis-container {
  .dropdown-toggle::after {
    all: unset;
  }

  .dropdown-ellipsis {
    all: unset;

    &:hover {
      all: unset;
      cursor: pointer;
    }
  }

  .btn.show {
    background: transparent !important;
    color: var(--bs-primary);
  }
}
// NavLink overrides
.router-link {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;
  }
}

.placeholder-wave .card, .placeholder {
  cursor: default !important;
}